.container__small {
    background-color: rgb(24, 24, 24);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-around;
}

.logo {
    position: relative;
    width: 4rem;
    color: white;
    z-index: 1;
}

.logo::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
}

.logo__img {
    width: 100%;
}

.title {
    text-align: center;
}

.main__title {
    font-weight: 600;
    font-size: 3rem;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-around;
}

.link__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 1;
    padding: 0.7rem;
}

.link__container::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    opacity: 0;
    transition: all 1s;
}

.link__container:hover::before {
    opacity: 1;
    transition: all 1s;
}

.link__container::after {
    content: '';
    background: black;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
}

.link__container:active:after {
    background: transparent;
}

.link__img{
    width: 100%;
    height: auto;
}

.steam{
    transform: scale(1.5) translate(-0.1rem, 0.2rem);
}

@media (max-width:767px){
    .main__title {
        font-weight: 500;
        font-size: 2rem;
    }

    .footer {
        max-width: none;
        padding: 1rem;
    }

    .link__container{
        width: 3rem;
        height: 3rem;
    }

    .steam{
        transform: scale(1.5) translate(-0.1rem, 0.1rem);
    }
}