.container {
    font-size: 1.5rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.right{
    float: right;
    width: 30%;
}

@media (max-width:992px) {
    .right{
        float: none;
        width: 70%;
        margin: 0 auto;
    }
}