.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.flex__container {
    display: flex;
    margin: 0 -1rem;
}

.main__descriprion {
    flex: 1 1 60%;
    padding: 0px 1rem;
}

.slider {
    flex: 1 1 40%;
    padding: 0px 1rem;
}

.characters {
    display: flex;
    margin: 0 -1rem;
}

.characters__list {
    flex: 0 1 35%;
    padding: 0.5rem 1rem;
}

@media (max-width:992px) {
    .container {
        max-width: none;
    }

    .flex__container {
        display: block;
        margin: 0;
    }

    .main__descriprion,
    .slider {
        padding: 0;
    }

    .characters__list {
        flex: 0 1 50%;
        padding: 0px 1rem;
    }
}