img{
    max-width: 100%;
}

.container {
    font-size: 1.5rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.intel{
    background-color: rgb(47, 47, 189);
}
.amd{
    background-color: rgb(158, 45, 45);
}

.right{
    float: right;
    width: 30%;
}

.broken__container{
    display: flex;
}
.container__position{
    margin: 0 1rem;
    flex: 1 1 70%;
}
.container__position__logo{
    transform: translateY(-25%);
    flex: 1 1 30%;
}

@media (max-width:992px) {
    .container {
        max-width: none;
    }
    .broken__container{
        display: block;
    }
    .container__position{
        flex: none;
        margin: 0;
    }
    .container__position__logo{
        transform: translateY(0);
        width: 70%;
        margin: 0 auto;
    }
    .right{
        float: none;
        width: 70%;
        margin: 0 auto;
    }
}
