.container {
    height: 992px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.container__img {
    position: absolute;
    transition: all 2s;
}
.computer_case{
    width: 32rem;
    top: 15rem;
    left: 23rem;
    z-index: 1;
}
.processor{
    width: 3.5rem;
    top: 27.75rem;
    left: 32.3rem;
    z-index: 3;
}
.motherboard{
    width: 15rem;
    top: 25.5rem;
    left: 27rem;
    z-index: 2;
}
.video_card{
    width: 10rem;
    top: 31.5rem;
    left: 27rem;
    z-index: 4;
}
.supply{
    width: 5rem;
    top: 19rem;
    left: 27rem;
    z-index: 3;
}
.ram{
    width: 6.5rem;
    top: 27.5rem;
    left: 36.5rem;
    z-index: 3;
}
.hdd{
    width: 8rem;
    top: 21rem;
    left: 42.5rem;
    z-index: 3;
}
.hardware__img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container__img::before {
    position: absolute;
    content: '';
    background-color: rgb(226, 226, 160);
    filter: blur(15px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
    opacity: 0;
    transition: all 2s;
}
.container__img:hover::before{
    opacity: 1;
    transition: all 2s;
    animation: pulsar_background 6s linear infinite;
}

@keyframes pulsar_background {
    0%{
        transform: scale(1);
        filter: blur(15px);
    }
    33.33%{
        transform: scale(0.95);
        filter: blur(10px);
    }
    66.66%{
        transform: scale(1.02);
        filter: blur(20px);
    }
    100%{
        transform: scale(1);
        filter: blur(15px);
    }
}

.computer_case::before {
    border-radius: 5%;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.processor::before {
    border-radius: 5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.motherboard::before {
    border-radius: 5%;
    top: 0;
    left: 2%;
    width: 100%;
    height: 100%;
}
.video_card::before {
    border-radius: 5%;
    top: 12%;
    left: 2%;
    width: 100%;
    height: 65%;
}
.ram::before {
    border-radius: 5%;
    top: 0%;
    left: 1.2rem;
    width: 70%;
    height: 100%;
}
.hdd::before {
    border-radius: 5%;
    top: 0%;
    left: 10%;
    width: 80%;
    height: 100%;
}

.container:hover .container__img{
    transition: all 2s;
}
.container:hover .processor{
    width: 5.5rem;
    top: 7rem;
    left: 50rem;
}
.container:hover .motherboard{
    width: 17rem;
    top: 21.5rem;
    left: 5rem;
}
.container:hover .video_card{
    width: 15rem;
    top: 45rem;
    left: 15rem;
}
.container:hover .supply{
    width: 7rem;
    top: 6.5rem;
    left: 20rem;
}
.container:hover .ram{
    width: 8rem;
    top: 47.5rem;
    left: 50rem;
}
.container:hover .hdd{
    width: 12rem;
    top: 23rem;
    left: 54rem;
}




@media (max-width:1300px) {
    .container {
        max-width: 1024px;
    }
    .computer_case{
        left: 16rem;
    }
    .processor{
        left: 25.3rem;
    }
    .motherboard{
        left: 20rem;
    }
    .video_card{
        left: 20rem;
    }
    .supply{
        left: 20rem;
    }
    .ram{
        left: 29.5rem;
    }
    .hdd{
        left: 35.5rem;
    }
    .container:hover .processor{
        top: 8.5rem;
        width: 5rem;
        left: 43rem;
    }
    .container:hover .motherboard{
        width: 15rem;
        left: 0.4rem;
    }
    .container:hover .video_card{
        width: 12rem;
        left: 11.4rem;
    }
    .container:hover .supply{
        width: 6rem;
        top: 8rem;
        left: 15.4rem;
    }
    .container:hover .ram{
        width: 6rem;
        top: 46.5rem;
        left: 43.4rem;
    }
    .container:hover .hdd{
        width: 10rem;
        top: 23rem;
        left: 47.7rem;
    }
}

@media (max-width:992px) {
    .hdd{
        width: 8rem;
        top: 21rem;
        left: 42.5rem;
        z-index: 3;
    }
    .container {
        max-width: 768px;
    }
    .computer_case{
        width: 20rem;
        top: 10rem;
        left: 14rem;
    }
    .processor{
        width: 2.18755rem;
        top: 17.8rem;
        left: 19.66rem;
    }
    .motherboard{
        width: 9.0625rem;
        top: 16.5rem;
        left: 16.5rem;
    }
    .video_card{
        width: 6.25rem;
        top: 20rem;
        left: 16rem;
    }
    .supply{
        width: 3.125rem;
        top: 12.5rem;
        left: 16.5rem;
    }
    .ram{
        width: 4.0625rem;
        top: 17.7rem;
        left: 22.3rem;
    }
    .hdd{
        width: 5rem;
        top: 13.5rem;
        left: 26.2rem;
    }

    .container:hover .processor{
        width: 3.5rem;
        top: 6rem;
        left: 31rem;
    }
    .container:hover .motherboard{
        width: 10rem;
        top: 14.5rem;
        left: 4rem;
    }
    .container:hover .video_card{
        width: 7rem;
        top: 29.5rem;
        left: 12rem;
    }
    .container:hover .supply{
        width: 3.5rem;
        top: 6rem;
        left: 14em;
    }
    .container:hover .ram{
        width: 4.2rem;
        top: 30rem;
        left: 31rem;
    }
    .container:hover .hdd{
        width: 6rem;
        top: 16rem;
        left: 33rem;
    }


}

@media (max-width:767px) {

}
